#anchor{
    -fx-background-color : transparent;
}

#apane{
    -fx-border-radius: 25 25 25 25;
    -fx-background-radius: 25 25 25 25;
}

#pane{
    -fx-background-color : #666666;
    -fx-background-radius: 25 25 25 25;
    -fx-border-radius: 25 25 25 25;
}

#TextFieldUserEmail,
#TextFieldUserPsw,
#TextFieldUserName,
#TextFieldUserSurname,
#TextFieldUserEmailIn,
#TextFieldUserPswIn,
#TextFieldUserRole,
#comboBoxRole,
#TextFieldPartId,
#TextFieldPartName,
#TextFieldPartBrand,
#TextFieldPartPrice,
#TextFieldClientName,
#TextFieldClientSurname,
#TextFieldClientEmail,
#TextFieldClientNumber,
#searchTextField,
#marcaTextField,
#modelloTextField,
#targaTextField,
#telaioTextField,
#TextFieldMontaggioEBilanciatura,
#statoRiparazioneTextField,
#TextFieldMarcaPneum,
#TextFieldDimensionePneum,
#TextFieldPrezzoPneum,
#TextFieldPfu,
#TextFieldScontoPneum,
#TextFieldMarcaCerchio,
#TextFieldDimensioneCerchio,
#TextFieldPrezzoCerchio,
#TextFieldScontoCerchio{
    -fx-background-radius: 25 25 25 25;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 25px;

    -fx-background-color: #595959;
}


#comboBoxRole .list-view .list-cell{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #595959;
}

#comboBoxRole .list-view .list-cell:hover{
    -fx-background-color : #666666;
}

#comboBoxRole .list-view .list-cell:hover{
    -fx-background-color : #666666;
}

#comboBoxRole .cell:selected{
    -fx-text-fill: #FFFFFF;
}

#comboBoxRole .cell:selected{
    -fx-text-fill: #FFFFFF;
}

#button,
#buttonAddCerchi{
    -fx-font-size: 15pt;
    -fx-background-radius: 25 25 25 25;
    -fx-border-radius: 25 25 25 25;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4;

    -fx-background-color: #595959;
}

#button:pressed,
#buttonAddCerchi:pressed{
    -fx-background-color: #666666;
}

#button:hover,
#buttonAddCerchi:hover{
    -fx-background-color: #666666;
}

.alert {
    -fx-background-color: -fx-background;
    -fx-background: #666666;
}

.text-input {
    -fx-text-inner-color: #FFFFFF;
}

#window{
    -fx-background-color: #666666;

    -fx-background-radius: 25 25 25 25;
    -fx-border-radius: 25 25 25 25;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4;
}

#buttonDelete{
    -fx-font-family: RenaultLife;
    -fx-font-size: 15pt;
    -fx-background-radius: 25 25 25 25;
    -fx-border-radius: 25 25 25 25;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4;

    -fx-background-color: #595959;
}

#buttonDelete:pressed{
    -fx-background-color: #666666;
}

#buttonDelete:hover{
    -fx-background-color: #990000;
}

#buttonLeft{
    -fx-font-size: 15pt;
    -fx-background-radius: 30 0 0 30;

    -fx-background-color: #595959;
}

#buttonLeft:default:hover:pressed,
#buttonLeft:focused{
    -fx-background-color: #666666;
}

#buttonLeft_Home,
#buttonLeft_Officina,
#buttonLeft_PrevGomme,
#buttonLeft_Impo,
#buttonLeft_Logout{
    -fx-font-size: 15pt;
    -fx-background-radius: 30 0 0 30;

    -fx-background-color: #595959;
}

#buttonLeft_Home:default:hover:pressed,
#buttonLeft_Home:focused{
    -fx-background-color: #666666;
}

#buttonLeft_Officina:default:hover:pressed,
#buttonLeft_Officina:focused{
    -fx-background-color: #666666;
}

#buttonLeft_PrevGomme:default:hover:pressed,
#buttonLeft_PrevGomme:focused{
    -fx-background-color: #666666;
}


#buttonLeft_Impo:default:hover:pressed,
#buttonLeft_Impo:focused{
    -fx-background-color: #666666;
}

#buttonLeft_Logout:default:hover:pressed,
#buttonLeft_Logout:focused{
    -fx-background-color: #666666;
}



#vbox{
    -fx-background-color : #595959;
    -fx-background-radius: 25 0 0 25;
    -fx-border-radius: 25 0 0 25;
}

#pane{
    -fx-background-color : #666666;
    -fx-background-radius: 25 25 25 25;
    -fx-border-radius: 25 25 25 25;
}

.spinner {
    -fx-base: #595959;
}

#diagnosiTextArea{
    -fx-font-size: 14;
}

#diagnosiTextArea .scroll-pane{
    -fx-background-color: #595959;
}

#diagnosiTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#diagnosiTextArea .scroll-pane .content{
    -fx-background-color: transparent;
}


#checkBoxContiSeparati .box{
    -fx-background-color: #595959;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-border-radius: 25 25 25 25;
    -fx-background-radius: 25 25 25 25;
    -fx-padding: 4px;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: #bfbfbf;
    -fx-background-radius: 25 25 25 25;
}

.text-area .scroll-pane{
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.spinnerPneumQuan {
    -fx-base: #595959;
}

/* TABELLE: */
.table-view {
    -fx-background-color: transparent;

}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #595959;
    -fx-background-radius: 25px 25px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: white;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-text-background-color: black;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:selected {
    -fx-background-color: #595959;
}

.table-row-cell:focused:selected {
    -fx-background-color: #595959;
}

.table-row-cell:selected .table-cell,
.table-row-cell:focused:selected .table-cell {
    -fx-text-fill: white; /* Cambia il colore del testo */
}

.table-row-cell:odd{
    -fx-background-color: #bfbfbf;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #b3b3b3;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  white;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  transparent;
}

#cardBox{
    -fx-background-radius: 25 25 25 25;
    -fx-border-radius: 15px;
    -fx-background-color: #4d4d4d;
    -fx-border-width: 1;
}

#corpusNews{
    -fx-font-size: 16;
    -fx-background-insets: 0;
    -fx-background-color: transparent, #4d4d4d, transparent, #4d4d4d;
}

#corpusNews .scroll-pane {
    -fx-background-color: transparent;
}
#corpusNews .scroll-pane .viewport{
    -fx-background-color: transparent;
}
#corpusNews .scroll-pane .content{
    -fx-background-color: #4d4d4d;
}

#textAreaInfo {
    -fx-font-size: 20;
}

#textAreaInfo .scroll-pane {
    -fx-background-color: #595959;
}
#textAreaInfo .scroll-pane .viewport{
    -fx-background-color: transparent;
}
#textAreaInfo .scroll-pane .content{
    -fx-background-color: transparent;
}

#buttonWarehouse1,
#buttonWarehouse2{
    -fx-font-size: 15pt;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 1 );

    -fx-background-color: #999999;
}

#buttonWarehouse1:pressed{
    -fx-background-color: #d9d9d9;
}
#buttonWarehouse2:pressed{
    -fx-background-color: #d9d9d9;
}

#buttonWarehouse1:hover{
    -fx-background-color: #737373;
}
#buttonWarehouse2:hover{
    -fx-background-color: #737373;
}