<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login cliente</title>
    {% load static %}
    <!-- Bootstrap CSS direttamente da CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>

<div class="container1 d-flex m-0 p-0">
        <div class="info-section col-lg-5 d-flex flex-column justify-content-center align-self-center px-5">
            <div class="row text-center">
                <div class="col-12 d-flex justify-content-center align-self-center">
                    <img class="d-block mb-3 gruper" src="{% static 'gruper.png' %}" alt="Logo">
                </div>
            </div>

            <h3 class="mb-3 mt-3">Un account per tutti i tuoi servizi</h3>
            <h5>Consulta il tuo preventivo online</h5>
            <h5 class="mb-5">Tieniti aggiornato sullo stato della tua auto con i servizi connessi</h5>
            <h5 class="mt-5 text-center"><strong>Renault care service</strong></h5>
            <h5 class="mb-3 text-center"><strong>Chi meglio di Renault sa prendersi cura della tua Renault?</strong></h5>
            <div class="row text-center">
                <div class="col-12 d-flex justify-content-center align-self-center">
                    <img class="col-7 loghi" src="{% static 'loghi.png' %}" alt=" ">
                </div>
            </div>
        </div>

    <div class="login-section col-lg-7 d-flex flex-column justify-content-center align-items-center px-5">
        <h1 class="text-center mb-3">Benvenuto in <strong>GroupeR Toolkit</strong></h1>
        <h3 class="text-center mb-5">Accedi per usufruire dei servizi</h3>
        <form method="post" action="{% url 'signin' %}" class="w-100">
            {% csrf_token %}
            <h5 for="email">E-mail:</h5>
            <input type="email" class="form-control mb-2" id="email" name="email" required>
            <h5 class="mt-4" for="pass1">Password:</h5>
            <input type="password" class="form-control mb-2" id="pass1" name="pass1" required>
            <button id="loginButton" type="submit" class="btn-custom mt-5 mx-auto d-block text-center">Accedi</button>

            <!-- Posizione per i messaggi di errore -->
            {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</div>


<div id="loadingScreen" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); z-index: 9999; justify-content: center; align-items: center; flex-direction: column; color: white; font-size: 40px;">
    <img src="{% static 'gruper_loading.png' %}" alt="Logo" style="width: 210px; height: auto; margin-bottom: 20px;">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Caricamento...</span>
    </div>
</div>

{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('form').on('submit', function() {
        // Mostra la schermata di caricamento
        $('#loadingScreen').css('display', 'flex');

        // Considera di disabilitare il bottone di submit per prevenire invii multipli
        $('#loginButton').attr('disabled', true);
    });

    $(window).on('load', function() {
        // Nascondi la schermata di caricamento quando la pagina successiva è completamente caricata
        $('#loadingScreen').css('display', 'none');

        // Riabilita il bottone di submit nel caso l'utente torni indietro al form di login
        $('#loginButton').attr('disabled', false);
    });
});
</script>


</body>
</html>